*{
	margin: 0;
	padding: 0;
}
body{
	background: #3e3e3e;
}
@media (min-width:980px){
	.content{
		width: 1000px;
		height: 400px;
		margin: 100px auto;
	}
	.box{
		width: 224px;
		height: 235px;
		float: left;
		margin: 0 50px;
	}
}
@media (max-width:980px){
	.content{
		width: 500px;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
	}
	.box{
		width: 224px;
		height: 235px;
		margin: 40px auto;
	}
}
.icon{
	width: 180px;
	height: 180px;
	display: block;
	margin: 0 auto;
	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
}
.icon:hover{
	transform: scale(1.2) rotate(360deg);
}
.box-car .icon{
	background: url(../images/car.png) no-repeat;
}
.box-train .icon{
	background: url(../images/train.png) no-repeat;
}
.box-plane .icon{
	background: url(../images/plane.png) no-repeat;
}
.button{
	width: 200px;
	height: 50px;
	display: block;
	border: 2px solid #fff;
	line-height: 50px;
	font-weight: bolder;
	padding-left: 20px;
	text-decoration: none;
	color: #2ecc71;
	background: url(../images/icon.png) no-repeat 165px center;
	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	position: relative;
	margin: 0 auto;
}
.button:hover{
	background: url(../images/icon.png) no-repeat 175px center;
}
.line{
	width: 0;
	height: 2px;
	position: absolute;
	transition:0.4s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	display: block;
	background: #fff;
}
.line-left{
	top: -2px;
	left: -100%;
}
.button:hover .line-left{
	width: 200px;
	left: -2px;
}
.line-right{
	bottom: -2px;
	right: -100%;
}
.button:hover .line-right{
	width: 200px;
	right: -2px;
}
.line-top{
	width: 2px;
	height: 0;
	top: -100%;
	right: -2px;
}
.button:hover .line-top{
	height: 50px;
	top: -2px;
}
.line-bottom{
	width: 2px;
	height: 0;
	bottom: -100%;
	left: -2px;
}
.button:hover .line-bottom{
	height: 50px;
	bottom: -2px;
}
